# Konfigurasi koneksi MariaDB
DB_HOST=db
DB_PORT=3306
DB_USER=tkj3_user
DB_PASSWORD=tkj3_password
DB_NAME=xi_tkj_3_profile

# Nama sekolah yang ditampilkan di UI (ganti sesuai sekolah kalian)
NEXT_PUBLIC_SCHOOL_NAME="SMK Telkom Malang"